<!DOCTYPE html>
<html>
<head>
  <title>Geo monitor</title>
  <%= stylesheet_link_tag    "geo_monitor/application", media: "all" %>
  <%= javascript_include_tag "geo_monitor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
